// Header
.header { display: block; position: fixed; top: 0; right: 0; left: 0; height: 62px; background-color: #fff; box-shadow: 0 0 7px rgba(0,0,0,0.2); z-index: 2; }

	.header__logo { display: block; position: absolute; top: 10px; left: 15px; height: 42px; padding: 2px 0 0 49px; font-family: 'roboto_cond', sans-serif; font-weight: normal; transition: 0.2s; }
	a.header__logo:hover { opacity: 0.85; }
	a.header__logo:active { opacity: 0.7; }
	
		.header__logo::before { display: block; position: absolute; content: ' '; top: 0; left: 0; width: 42px; height: 42px; background: url(./img/layout/logo.svg) center center no-repeat; background-size: 42px 42px; border-radius: 21px; }
		
		.header__logo > span,
		.header__logo > i { display: block; font-family: $cond; }
		
		.header__logo > span { font-size: 20px; letter-spacing: 1px; text-transform: uppercase; }
		.header__logo > i { font-style: normal; font-size: 10px; opacity: 0.7; }

	.header__status {

		position: absolute;
		top: 50%;
		right: 15px;
		height: 11px;
		margin-top: -6px;
		padding-left: 16px;
		line-height: 9px;

		&::before {
			display: block;
			position: absolute;
			content: ' ';
			top: 0;
			left: 0;
			width: 11px;
			height: 11px;
			border-radius: 50%;
		}

		&.-no::before {
			background-color: $light-gray;
		}
		&.-no::after {
			content: 'Не в пути';
		}

		&::after {
			font-family: $cond;
			font-size: 10px;
			color: rgba(0,0,0,0.7);
		}

		&.-yes::before {
			background-color: $green;
		}
		&.-yes::after {
			content: 'В пути';
		}

	}
	
	
// Content
.content {

	display: block;
	position: fixed;
	top: 62px;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: auto;
	z-index: 1;

	&.-no-scroll {
		overflow: hidden;
	}

	&.-paddings {
		padding: 20px 15px;
	}

	&__header,
	&__main,
	&__map,
	&__footer {
		position: absolute;
		right: 0;
		left: 0;
	}

	&__header {

		top: 0;
		height: 72px;
		padding: 20px 15px;
		transition: 0.4s;
		z-index: 2;

		.-show-info & {
			top: -215px;
		}

	}

	&__main {

		top: 72px;
		bottom: 80px;
		overflow: auto;

		&.-paddings {
			padding: 0 15px;
		}

	}

	&__map {
		top: 0;
		bottom: 0;
		overflow: hidden;
		z-index: 1;
	}

	&__footer {
		bottom: 0;
		height: 80px;
		padding: 20px 15px;
		z-index: 2;
	}

}