/* UI, сюда всякие кнопки, списки и т. п.
=========================================================== */


// Модальное окно
.ui-popup {

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	padding: 40px 0;
	overflow-y: auto;

	&__logo {

		position: absolute;
		top: -1px;
		right: -1px;
		width: 188px;
		height: 95px;
		font-size: 0;
		background: url(img/layout/header-left.svg) 0 0 no-repeat;
		background-size: contain;

		&::before {
			display: block;
			position: absolute;
			content: ' ';
			top: 38px;
			right: 40px;
			width: 117px;
			height: 29px;
			font-size: 0;
			background: url(img/layout/logo-yellow.svg) 0 0 no-repeat;
			background-size: contain;
		}

	}

	&__inner {

		position: relative;
		width: 528px;
		max-width: 100%;
		margin: 0 auto;
		padding: 40px;
		border: 1px solid $light-gray;
		border-radius: 5px;

		&.-gosuslugi {
			width: 448px;
		}

	}

}


// Ключ-значение
.ui-kv {

	display: inline-block;
	vertical-align: top;
	margin: 5px 10px 0 0;
	font-size: 0;

	&:last-child {
		margin-right: 0;
	}

	label,
	span {
		display: inline-block;
		vertical-align: baseline;
		font-size: $font-size;
	}

	label {
		margin-right: 4px;
		opacity: 0.3;
	}

}


// Кнопка
.ui-button {

	display: block;
	position: relative;
	width: 100%;
	height: 46px;
	font-weight: 500;
	font-size: 16px;
	color: $main-color;
	background-color: transparent;
	border: 1px solid $main-color;
	border-radius: 3px;
	transition: $tr;

	&:hover {
		cursor: pointer;
		border-color: darken( $main-color, 15% );
	}

	&:active {
		border-color: darken( $main-color, 30% );
	}

	&.-forward {

		&::after {
			display: inline-block;
			content: ' ';
			width: 16px;
			height: 10px;
			margin-left: 5px;
			background: url(img/icons/arrow-right.svg) 0 0 no-repeat;
			background-size: contain;
		}

	}

}


// Список электронных подписей
.ui-list {

}


// Электронная подпись
.ui-signature {

	display: block;
	position: relative;
	width: 100%;
	margin-top: 10px;
	padding: 10px 95px 10px 12px;
	text-align: left;
	white-space: normal;
	border-radius: 3px;

	&:first-child {
		margin-top: 0;
	}

	input {

		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		cursor: pointer;

		&:checked {
			cursor: default;
		}
		
		&:checked ~ .ui-signature__background {

			background-color: $main-color;
			border-color: darken( $main-color, 15% );

			&::after {
				top: 50%;
				width: 77px;
				height: 77px;
				margin-top: -39px;
				background-image: url(img/icons/key.svg);
			}

		}

		&:checked ~ .ui-signature__name,
		&:checked ~ .ui-signature__info {
			color: $white;
		}
		
	}

	&__background {
		
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: 1px solid $light-gray;
		border-radius: 3px;
		transition: $tr;
		z-index: 1;

		&::after {
			display: block;
			position: absolute;
			content: ' ';
			top: 8px;
			right: 8px;
			width: 17px;
			height: 25px;
			background: url(img/icons/lock.svg) 0 0 no-repeat;
			background-size: contain;
			transition: $tr;
		}

	}

	&__name,
	&__info {
		display: block;
		position: relative;
		z-index: 2;
	}

	&__name {
		font-weight: bold;
	}

	&__info {
		font-size: 0;
	}

	&:hover {

		cursor: pointer;

		.ui-signature__background {
			border-color: $main-color;
		}

	}

	&:active {

		.ui-signature__background {
			border-color: darken( $main-color, 15% );
		}

	}

}


// Карточка
.ui-card {

	&__main {

		padding-right: 155px;
		margin-bottom: 40px;

		.ui-mobile & {
			margin-bottom: 30px;
		}

		&.-no-paddings {
			padding-right: 0;
		}

		&__name {
			margin-bottom: 15px;
			font-weight: bold;
			font-size: 20px;
		}

	}

	&__what {

		margin: 40px 0 30px;
		font-size: 0;

		.ui-mobile & {
			margin: 30px 0 20px;
		}

		&__name,
		&__from {
			display: inline-block;
			vertical-align: baseline;
			margin-bottom: 10px;
		}

		&__name {
			margin-right: 15px;
			font-weight: bold;
		}

		&__from {
			color: $gray;
		}

	}

	&__action {
		margin-bottom: 15px;
	}

	&__footer {
		margin-top: 40px;
		transition: $tr;
	}

	&__switcher {

		width: 200%;
		font-size: 0;

		&__item {

			display: inline-block;
			vertical-align: top;
			width: 50%;
			white-space: nowrap;
			transition: $tr;

			&[data-id="list"]{
				
				.-show-qr & {

					margin-left: -50%;
					opacity: 0.5;
					transform: scale(0.75);

					.ui-card__footer {
						visibility: hidden;
						opacity: 0;
					}

				}

				.-show-loader &,
				.-show-success & {
					visibility: hidden;
					opacity: 0;
				}

			}

			&[data-id="qr"]{
				
				max-height: 0;
				visibility: hidden;
				opacity: 0;

				.-show-qr & {
					max-height: 329px;
					visibility: visible;
					opacity: 1;
				}

				.-show-loader &,
				.-show-success & {
					visibility: hidden;
					opacity: 0;
				}

			}

		}

	}

}


// QR
.ui-qr {

	height: 298px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	&.-confirm {
		background-image: url(img/_temp/qr-confirm.svg);
	}

}


// Лоадер
.ui-loader {

	display: block;
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background-color: rgba(255,255,255,0.75);
	visibility: hidden;
	opacity: 0;
	z-index: 5;
	transition: $tr;

	.-show-loader & {
		visibility: visible;
		opacity: 1;
	}

	.-show-success & {
		visibility: hidden;
		opacity: 0;
	}

	&__indicator,
	&__title,
	&__subtitle {
		position: absolute;
		right: 0;
		left: 0;
	}

	&__indicator {
		top: 255px;
		right: auto;
		left: 50%;
		width: 92px;
		height: 92px;
		margin-left: -46px;
		border: 5px solid #555;
		border-right-color: transparent;
		border-bottom-color: transparent;
		border-radius: 50%;
		animation: circle 1s infinite linear;
	}
	@keyframes circle {
		0% { transform:rotate(0deg); }
		50% { transform:rotate(180deg); }
		100% { transform:rotate(360deg); }
	}

	&__title,
	&__subtitle {
		color: #555;
		text-align: center;
	}

	&__title {
		top: 357px;
		font-weight: bold;
	}

	&__subtitle {
		top: 373px;
	}

}


// Успех
.ui-success {

	display: block;
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	left: -1px;
	background-color: rgba(255,255,255,0.75);
	visibility: hidden;
	opacity: 0;
	z-index: 5;
	transition: $tr;

	.-show-success & {
		visibility: visible;
		opacity: 1;
	}

	&__indicator,
	&__title,
	&__subtitle {
		position: absolute;
		right: 0;
		left: 0;
	}

	&__indicator {
		top: 255px;
		height: 92px;
		background: url(img/icons/cloud-success.svg) center center no-repeat;
		background-size: contain;
	}

	&__title,
	&__subtitle {
		color: $main-color;
		text-align: center;
	}

	&__title {
		top: 357px;
		font-weight: bold;
	}

	&__subtitle {
		top: 373px;
	}

}


// Mobile
.ui-mobile {

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&__header,
	&__main,
	&__footer,
	&__button {
		display: block;
		position: absolute;
		right: 0;
		left: 0;
	}

	&__header {

		top: 0;
		height: 95px;

		&::before,
		&::after {
			display: block;
			position: absolute;
			content: ' ';
			top: 0;
			width: 188px;
			height: 95px;
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
			z-index: 1;
		}

		&::before {
			left: 0;
			background-image: url(img/layout/header-left.svg);
		}

		&::after {
			right: -1px;
			background-image: url(img/layout/header-right.svg);
		}

		& > span {
			display: block;
			position: absolute;
			top: 0;
			right: 180px;
			left: 180px;
			height: 95px;
			background-color: $main-color;
			z-index: 2;
		}

		&__logo {
			position: absolute;
			top: 30px;
			left: 40px;
			width: 117px;
			height: 29px;
			font-size: 0;
			background: url(img/layout/logo-yellow.svg) 0 0 no-repeat;
			background-size: contain;
			z-index: 3;
		}

	}

	&__main {

		top: 95px;
		bottom: 0;
		padding: 30px 40px;
		overflow-y: auto;

		.ui-mobile__footer ~ & {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			bottom: 70px;
			padding: 0;
			overflow: hidden;
		}

		.ui-mobile__button ~ & {
			bottom: 86px;
		}

		& ~ .ui-loader {

			.ui-loader__indicator,
			.ui-loader__title,
			.ui-loader__subtitle {
				top: 50%;
			}

			.ui-loader__indicator {
				margin-top: -46px;
			}

			.ui-loader__title {
				margin-top: 56px;
			}

			.ui-loader__subtitle {
				margin-top: 72px;
			}

		}

		&.-show-loader ~ .ui-loader {
			visibility: visible;
			opacity: 1;
		}

		& ~ .ui-success {
			top: 95px;
			background-color: #fff;
		}

		&.-show-success ~ .ui-loader {
			visibility: hidden;
			opacity: 0;
		}

		&.-show-success ~ .ui-success {

			visibility: visible;
			opacity: 1;

			.ui-success__indicator,
			.ui-success__title,
			.ui-success__subtitle {
				top: 50%;
			}

			.ui-success__indicator {
				margin-top: -46px;
			}

			.ui-success__title {
				margin-top: 56px;
			}

			.ui-success__subtitle {
				margin-top: 72px;
			}

		}

	}

	&__footer {

		display: flex;
		justify-content: space-between;
		bottom: 20px;
		height: 50px;
		padding: 0 40px;

		&__clear {
			font-size: 18px;
			text-align: left;
			background-color: transparent;
			border: none;
		}

		&__faceid {
			width: 42px;
			background: url(img/icons/faceid.svg) center center no-repeat;
			background-size: 42px 42px;
			border: none;
		}

	}

	&__button {
		bottom: 0;
		height: 86px;
		padding: 0 40px;
	}

}


// PIN
.ui-pin {

	max-width: 340px;

	&__title {
		font-weight: normal;
		font-size: 18px;
		text-align: center;
	}

	&__progress {

		display: flex;
		justify-content: space-between;
		width: 138px;
		margin: 15px auto;

		&__item {

			width: 15px;
			height: 15px;
			border: 1px solid rgba(0,0,0,0.2);
			border-radius: 50px;

			&.-active {
				background-color: $main-color;
			}

		}

	}

	&__keyboard {
		font-size: 0;
		text-align: center;

		&__item {

			display: inline-flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 81px;
			height: 81px;
			margin: 15px 15px 0;
			background-color: transparent;
			border: 1px solid rgba(0,0,0,0.2);
			border-radius: 50%;
			transition: 0.1s;

			&:active {
				color: $white;
				background-color: $main-color;
				border-color: $main-color;
			}

			div,
			span {
				display: block;
			}

			div {
				font-weight: 200;
				font-size: 40px;
			}

			span {
				margin: -5px -3px 0 0;
				font-size: 10px;
				letter-spacing: 3px;
				opacity: 0.5;
			}

		}

	}

}