$regular: 'Roboto', sans-serif;
$cond: 'Roboto Condensed', sans-serif;
$font-size: 14px;

$main-color: #158A8C;
$accent-color: #F6E86A;
$black: #000;
$white: #fff;
$gray: #999;
$light-gray: #e2e2e2;

$tr: 0.3s;